@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');

html,
body {
  background: #1f1e1e;
  padding: 0;
  margin: 0;
  font-family: 'Avenir LT Std';                                            
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
